<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Blog | Home</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/blogs.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" href="./images/blog-icon.svg" type="image/x-icon">
</head>
<body>

<%- include('partials/header', {email: email}); %>

<div class="blog-container">
    <h2 class="title container">THE BLOG</h2>
</div>

<section class="recent-blogs container">
    <h3 class="recent-blogs-title">Recent blog posts</h3>
    <div class="recent-blogs-content">
        <div class="primary-card">
            <figure>
                <a href="/blog/<%= blogs[0].id %>">
                    <img class="primary-card-img" src="/images/thumbnails/wide/1.png" alt="thumbnail">
                </a>
            </figure>
            <div>
                <p class="author-date-label"><%= blogs[0].author %> • <%= blogs[0].formatedDate %></p>
            </div>
            <a href="/blog/<%= blogs[0].id %>">
                <div class="main-blog-title-wrapper">
                    <h3 class="main-blog-title"><%= blogs[0].title %></h3>
                    <figure>
                        <img src="/images/arrow-up-right.svg" alt="arrow-up-right">
                    </figure>
                </div>
            </a>
            <div class="main-blog-text-wrapper">
                <p class="main-blog-text">
                    <%= blogs[0].description.slice(0, 260) %>...
                </p>
            </div>
        </div>
        <div class="secondary-card">
            <div class="secondary-blog-wrapper">
                <a href="/blog/<%= blogs[1].id %>">
                    <figure>
                        <img class="secondary-blog-img" src="/images/thumbnails/1.png" alt="thumbnail">
                    </figure>
                </a>

                <div>
                    <div>
                        <p style="margin-top: 0" class="author-date-label"><%= blogs[1].author.slice(0, 8) %>
                            • <%= blogs[1].formatedDate %></p>
                    </div>
                    <a href="/blog/<%= blogs[1].id %>">
                        <h3 class="secondary-blog-title">
                            <%= blogs[1].title.slice(0, 20) %>
                        </h3>
                    </a>
                    <p class="secondary-blog-text"><%= blogs[1].description.slice(0, 136) %></p>
                </div>
            </div>
            <div class="secondary-blog-wrapper">
                <a href="/blog/<%= blogs[2].id %>">
                    <figure>
                        <img class="secondary-blog-img" src="/images/thumbnails/2.png" alt="thumbnail">
                    </figure>
                </a>
                <div>
                    <div>
                        <p style="margin-top: 0" class="author-date-label"><%= blogs[2].author.slice(0, 8) %>
                            • <%= blogs[2].formatedDate %></p>
                    </div>
                    <a href="/blog/<%= blogs[2].id %>">
                        <h3 class="secondary-blog-title">
                            <%= blogs[2].title.slice(0, 20) %>
                        </h3>
                    </a>
                    <p class="secondary-blog-text"><%= blogs[2].description.slice(0, 136) %></p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
